.navbar {
    background-color: #f2f2f2;
    font-family: Palatino, Arial, Helvetica, sans-serif;
    position: fixed;
    display: none;
    height: 100px;
}
.navbar li a {
    height: 80px;
    padding: 30px;
}
.navbar-brand {
    height: 80px;
    padding: 30px;
}
.title-section {
    text-align: center;
    font-family: Palatino, Arial, Helvetica, sans-serif;
    color: #008080;
}
.text p {
    font-size: 25px;
    font-family: Palatino, Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    line-height: 25px;
}
.row-footer {
    margin: 0px auto;
    padding: 20px 0px;
    background-color: #f2f2f2;
    font-family: Palatino, Arial, Helvetica, sans-serif;
}

#background {
    margin-top: -20px;
    background-image: url(tropic.jpg);
    background-size: cover;
    height: 800px;
    width: 100%;
    opacity: 0.9;
    z-index: -1;
}
#about {
    height: 1000px;
    padding: 80px 0px 30px 0px;
}
.row-modal {
  padding-top:30px;
}
.row-dixpoint {
  text-align: center;
}
li {
  padding:25px; font-size:15px;
}
.col-sm-6 li a {
    display:block;
    margin-left: 120px;
  }

#header-text{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    vertical-align: middle;
    text-align: center;
    font-family: Palatino, Arial, Helvetica, sans-serif;
    opacity: 1;
    z-index: 1;
}
#header-text h1{
    font-size: 60px;
    font-style: italic;
    color: #008080;

}
#header-text h2{
    font-size: 40px;
    color: white;
    font-style: italic;
}
.button-contact{
    width: 300px;
    color: #008080;
    height: 60px;
    font-size: 20px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid #ac9456;
}
a{
    text-decoration: none;
    display: block;
    color:#ac9456;
}
.navbar-default .navbar-brand{
    font-size: 30px;
    font-style: italic;
    color: #008080;

}