body {
      align: center;
      padding: 100px 0px 0px 0px;
  }
.navbar li a {
    height: 80px;
    padding: 30px;
}
.navbar-brand {
    height: 80px;
    padding: 30px;
}
.title-section {
    text-align: center;
}
.text p {
    font-size: 17px;
    text-align: center;
    padding: 20px;
}
.row-footer {
    margin: 0px auto;
    padding: 20px 0px;
    background-color: #AfAfAf;
}
#intro-background {
  background-image: url("flowers.jpg");
  position: fixed;
  background-size: cover;
  width: 100%;
}
