body{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
/*navbar*/

.navbar {
    background-color: white;
    border-color: #ac9456;
    display: none;
    height: 7em;
    position: fixed;
}

.navbar-default .navbar-brand{
    font-size: 2.1em;
    font-style: italic;
    color: #008080;
    padding: 1.2em;

}
/*header and image*/

#background {
    margin-top: -1.4em;
    background-image: url(tropic.jpg);
    background-size: cover;
    height: 57em;
    width: 100%;
    opacity: 0.9;
    z-index: -1;
}

#header{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    vertical-align: middle;
    text-align: center;
    opacity: 1;
    z-index: 1;
}
#header h1{
    font-size: 4.2em;
    font-style: italic;
    color: #008080;

}
#header h2{
    font-size: 2.8em;
    color: white;
    font-style: italic;
}
.button-contact{
    width: 17em;
    color: #008080;
    height: 3em;
    font-size: 1.4em;
    background-color: white;
    border-radius: 2em;
    border: 1px solid #ac9456;
}
a{
    text-decoration: none;
    display: block;
    color:#ac9456;
}

/*text-content*/

#about {
    height: 71em;
    padding: 5.7em 0em 2.1em 0em;
}

.title-section {
    text-align: center;
    color:#ac9456;
}
.text p {
    font-size: 1.78em;
    text-align: center;
    padding: 0.8em;
    line-height: 1.3em;
}

/*footer*/
.row-footer {
    padding: 1em 0em;
    background-color:  #f7f4ee;
}

.row-dixpoint {
  text-align: center;
}

.fa-envelope-o{
    padding: 0.7em 0em 3.5em 0em;
}
.fa-phone{
    padding-top: 0.7em;
}
#tapio{
    border-bottom: 1px solid;
}